[submodule "3rdparty/rtaudio"]
	path = 3rdparty/rtaudio
	url = https://github.com/thestk/rtaudio.git
	branch = master
[submodule "3rdparty/vst3sdk"]
	path = 3rdparty/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
	branch = master
[submodule "3rdparty/libossia"]
	path = 3rdparty/libossia
	url = https://github.com/OSSIA/libossia.git
	branch = master
[submodule "3rdparty/rtmidi"]
	path = 3rdparty/rtmidi
	url = https://github.com/thestk/rtmidi.git
